# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Make
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
Makefile
add_numbers
*.tar.gz
c/.deps/
c/.dirstamp
config.log
config.status
